html {
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	overflow-y: scroll;
}

body {
	font-size: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.option-form .section {
	padding: .5em 2em;
}

.option-form label {
	color: #4c4c4c;
}

.row, .input-field {
	margin: 0;
	line-height: 3rem;
}

input[type=text] .select-wrapper .select-dropdow {
	margin: 0;
	height: 3rem;
}
